---
layout: default
title: Home
---

Hi, <strong>I’m Matt</strong>. I'm a software developer based in London working with Laravel (PHP) and other
cool things that help with automation like Ansible, Docker and Terraform. If you have a poke around you will
be able to view my blog posts, <a href="https://github.com/mcampbell508">GitHub projects</a> and
<a href="public/resume.html">resume</a>.

<br />
<br />
<h2>Skills</h2>
<ul>
    <li>Laravel PHP</li>
    <li>Advanced Git</li>
    <li>Ansible</li>
    <li>Docker and basic knowledge of Terraform & Kubernetes</li>
    <li>Continuous Integration with both TravisCI and mainly GitLab CI.</li>
    <li>Improving development workflow and process</li>
</ul>

<h1>Posts</h1>
<div class="posts">
    {% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
    {% if forloop.index != 1 %}</ul>{% endif %}
    <h3>{{ post.date | date: '%B %Y' }}</h3>
    <ul>
        {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> (<time>{{ post.date | date: "%e %B %Y" }}</time>)</li>
     {% endfor %}
</div>
<h3>{{ post.date | date: '%B %Y' }}</h3>

<hr />

<h1>Projects</h1>
<ul>
    <li><a href="https://mcampbell508.github.io/phpcsfixer-rules/">PHPCSFixer Rules explainer</a> - Created with React, this project explains the sometimes confusing PHP-CS-Fixer rules, with clear before-and-after code diff examples.</li>
    <li><a href="https://mcampbell508.github.io/ansible-role-phpstorm">Ansible Role - PhpStorm (GitHub)</a> - I created this project to help me install the latest version of PhpStorm, in an automated fashion with Ansible.</li>
</ul>