<div class="custom-footer" style="display: block;">
    <h6 class="text-footer" style="text-align: center;">
        <a href="/" title="Home">Home</a> | <a href="/about/" rel="me">About</a> |
        <a href="/public/resume" title="Resume">Resume</a> | <a href="{{ site.github.repo }}" rel="me">View source on GitHub</a>
    </h6>
    <div class="footer-social-icons">
        <ul class="social-icons">
            {% for social_item in site.data.socialmedia %}
            {% if social_item.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
            {% endif %}
            <li><a href="{{ domain }}{{ social_item.url }}" rel="me" {% if social_item.url contains 'http' %} target="_blank" {% endif %} class="social-icons" title="{{ social_item.title }}" class="social-icon">
                <i class="{{ social_item.class }} "></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
